<div class = "sticky-container">
    <a href = "https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class = "facebook">  <i class="fab fa-facebook"></i> facebook  </a>
    <a href = "https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}" class = "twitter">  <i class="fab fa-twitter"></i> twitter  </a>
    <a href = "https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" class = "linkedin"> <i class="fab fa-linkedin-in"></i> linkedin  </a>
</div>